<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body class="p-3 mb-2 bg-light text-dark">
  <div th:fragment="purchaseHistory">
    <!--購入履歴：小野-->

    <h1>購入履歴</h1>
    <!-- 検索部分 -->
    <div class="select">
      <table class="table">
        <tbody>
          <tr style="width: 100px">
            <th scope="row" style="width: 20%;">検索</th>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                  type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  検索項目を選択</button>
                <ul class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">商品名</a></li>
                  <li><a class="dropdown-item" href="#">産地</a></li>
                </ul>
              </div>
            </td>
            <td><input type="text" id="disabledTextInput"
              class="form-control" placeholder="入力してね"></td>
            <td><button type="button" class="btn btn-dark"
                style="width: 60px">検索</button></td>
          </tr>
          <tr>
            <th scope="row">日付</th>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                  type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  --年</button>
                <ul class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">2021年</a></li>
                  <li><a class="dropdown-item" href="#">2020年</a></li>
                  <li><a class="dropdown-item" href="#">2019年</a></li>
                  <li><a class="dropdown-item" href="#">2018年</a></li>
                  <li><a class="dropdown-item" href="#">2017年</a></li>
                </ul>

                <button class="btn btn-secondary dropdown-toggle"
                  type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  --月</button>
                <ul class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">1月</a></li>
                  <li><a class="dropdown-item" href="#">2月</a></li>
                  <li><a class="dropdown-item" href="#">3月</a></li>
                  <li><a class="dropdown-item" href="#">4月</a></li>
                  <li><a class="dropdown-item" href="#">5月</a></li>
                  <li><a class="dropdown-item" href="#">6月</a></li>
                  <li><a class="dropdown-item" href="#">7月</a></li>
                  <li><a class="dropdown-item" href="#">8月</a></li>
                  <li><a class="dropdown-item" href="#">9月</a></li>
                  <li><a class="dropdown-item" href="#">10月</a></li>
                  <li><a class="dropdown-item" href="#">11月</a></li>
                  <li><a class="dropdown-item" href="#">12月</a></li>
                </ul>
              </div>


            </td>
          </tr>
        </tbody>
      </table>
      <!-- 商品情報 -->
      <form action="merchDetail.html" method="POST">
        <div class="row row-cols-4" th:each="purchaseHD : ${purchaseHistoryDisplay}">
          <div class="col">
            <h5 th:text="${purchaseHD.date}"></h5>
            <p th:text="${purchaseHD.time}"></p>
          </div>
          <div class="col">
            <a class="info" th:href="@{/merchDetail(merchId=${purchaseHD.merchId})}" method="get" th:target="_blank">
              <div class="img">
                <img th:src="@{/images/merch/{merchId}/1.jpg(merchId=${purchaseHD.merchId})}" class="bd-placeholder-img card-img-top">
              </div>
            </a>
          </div>
          <div class="col">
            <p class="card-text" th:inline="text">
              [[${purchaseHD.prefectureName}]] [[${purchaseHD.makerName}]]<br>
               [[${purchaseHD.merchName}]]<br>
                (税込)[[${purchaseHD.includingTax}]]円<br>
                 [[${purchaseHD.purchasedQuantity}]]個
            </p>
          </div>
          <!-- <div class="col">
            <a href="/wip"><button type="button" class="btn btn-primary" width="50">もう一度購入</button></a>
            <br>
            <a href="/wip"><button type="button"
                class="btn btn-danger" width="50">センターにする</button></a>
            <a href="/wip"><button type="button"
                class="btn btn-warning" width="50">推しにする</button></a>
          </div> -->

          <!-- 商品情報 -->
        </div>
      </form>

      <!-- row -->
    </div>

    <!-- select -->


    </div>
</body>
</html>
